/* Font */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Poppins&display=swap');

/* common */
h1 {
  font-family: 'Krona One', sans-serif;
  font-size: 40px;
  line-height: 50px;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: 33px;
  color: #616161;
}

.background {
  background-color: #bcd2bd;
  margin-top: 50px;
  padding: 30px;
}

.custom-card {
  background: #ffffff;
  box-shadow: 0px 5px 10px 2px rgba(25, 96, 70, 0.2);
  border: none;
}

/* tombol cta */
.cta {
  font-family: 'Krona One', sans-serif;
  display: inline-block;
  font-size: 15px;
  background-color: #196046;
  color: white;
  text-decoration: none;
  padding: 1em 2em;
  transition: 0.5s ease;
}

.cta:hover {
  background-color: #19604667;
  color: #196046;
}

.tombol {
  font-family: 'Krona One', sans-serif;
  display: inline-block;
  font-size: 15px;
  background-color: transparent;
  border: 1px solid #196046;
  color: #196046;
  text-decoration: none;
  padding: 1em 2em;
  transition: 0.5s ease;
}

.tombol:hover {
  border: 3px solid #0f3a2a;
  color: #196046;
}

/* Navbar */
.custom-nav {
  background-color: white;
}

.custom-nav .navbar-brand img {
  width: 150px;
  margin-left: 100px;
}

.custom-nav .nav-item .nav-link {
  font-family: 'Poppins', sans-serif;
  font-size: 12pt;
  margin-right: 2em;
}

/* Hero */
.hero {
  margin-top: 100px;
}
.hero .welcome {
  width: 40vmax;
}
.hero .welcome p {
  margin-top: 46px;
  margin-bottom: 66px;
}
.hero .gambar img {
  width: 40vmax;
  margin-left: 25px;
}

/* Penginapan */

.penginapan .gambar img {
  width: 40vmax;
}

.penginapan .tulisan {
  margin-top: 25px;
}

.penginapan .tulisan p {
  margin-top: 56px;
  margin-bottom: 76px;
}

.penginapan .tombol {
  margin-left: 20px;
}

.penginapan h1 {
  font-size: 36px;
}

/* yuk berwisata */
.berwisata {
  margin-top: 50px;
}
.panah {
  font-size: 50px;
  color: #196046;
  transition: 0.5s ease;
}

.panah i:hover {
  color: #bcd2bd;
}

/* footer */
footer p {
  color: black;
  text-align: center;
  margin: auto;
  padding: auto;
}
