/* Font */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Poppins&display=swap');

/* common */
h1 {
  font-family: 'Krona One', sans-serif;
  font-size: 40px;
  line-height: 50px;
}

h2 {
  font-family: 'Krona One', sans-serif;
  font-size: 30px;
}

h3 {
  font-family: 'Krona One', sans-serif;
  font-size: 20px;
}

h5 {
  font-family: 'Krona One', sans-serif;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: 33px;
  color: #616161;
}

.background {
  background-color: #bcd2bd;
  margin-top: 50px;
  padding: 30px;
}

.custom-card {
  background: #ffffff;
  box-shadow: 0px 5px 10px 2px rgba(25, 96, 70, 0.2);
  border: none;
}

input[type='text'] {
  border-color: #196046;
}

/* tombol cta */
.cta {
  font-family: 'Krona One', sans-serif;
  display: inline-block;
  font-size: 15px;
  background-color: #196046;
  color: white;
  text-decoration: none;
  padding: 1em 2em;
  transition: 0.5s ease;
}

.cta:hover {
  background-color: #19604667;
  color: #196046;
}

.tombol {
  font-family: 'Krona One', sans-serif;
  display: inline-block;
  font-size: 15px;
  background-color: transparent;
  border: 1px solid #196046;
  color: #196046;
  text-decoration: none;
  padding: 1em 2em;
  transition: 0.5s ease;
}

.tombol:hover {
  border: 3px solid #0f3a2a;
  color: #196046;
}
/* Navbar */
.custom-nav {
  background-color: white;
}

.custom-nav .navbar-brand img {
  width: 150px;
  margin-left: 100px;
}

.custom-nav .nav-item .nav-link {
  font-family: 'Poppins', sans-serif;
  font-size: 12pt;
  margin-right: 2em;
}

/* footer */
footer p {
  color: black;
  text-align: center;
  margin: auto;
  padding: auto;
}

/* judul */
.judul h1 {
  margin-top: 100px;
}
/* pencarian */
.pencarian .cta {
  padding-top: 12px;
  padding-bottom: 12px;
}

button {
  margin-left: 20px;
}
/* merubah font place holder */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}
:-ms-input-placeholder {
  /* IE 10+ */
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}
:-moz-placeholder {
  /* Firefox 18- */
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

/* miniatur */
.miniatur {
  margin-top: 50px;
}

.miniatur .gambar img {
  width: 40vmax;
  margin-top: 50px;
  margin-bottom: 30px;
}

.miniatur .peceland {
  margin-top: 50px;
  width: 40%;
  text-align: right;
  margin-bottom: 30px;
}

.miniatur .peceland p {
  margin-top: 28px;
  margin-bottom: 48px;
}

/* Wisata Lainnya */
.wisata-lainnya {
  margin-top: 50px;
}

.wisata-lainnya .judul {
  margin-bottom: 30px;
}

/* Responsif */
@media screen and (max-width: 992px) {
  .miniatur .gambar img {
    width: 80%;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
  }

  .miniatur .peceland {
    margin-top: 50px;
    text-align: center;
    width: 100%;
  }
}
